<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>

    <!-- Taking the nav bar -->
    <%= erb(:'partials/nav') %>

    <!-- our template content will be injected here -->
    <%= yield %>

  </body>
</html>
