<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
    <h1>Music Homepage</h1>

    <nav>
      <a href="/posts/new">new</a>
      <a href="/posts/:id>">Show</a>
    </nav>

  </body>
</html>
